__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

venv
.env/
.idea/

*.log
logs/
log/

.mypy_cache/
.ruff_cache/
.pyright/
.cache/

mlruns/
mlflow.db
mlflow.db-journal

final_model/
artifacts/
Artifacts/
saved_models/
models/
*.pkl
*.joblib

data/
dataset/
datasets/
*.csv
*.parquet
*.feather
*.h5
*.zip